.download-wrapper {
  margin: 0.6rem auto;
  width: 96%;
  box-sizing: border-box;
  background: #e2e2e4;
  padding: 3% 2%;
  //   height: 1rem;

  span {
    float: left;
    width: 15%;
    margin: 0 2% 0 1%;

    img {
      display: block;
      width: 100%;
    }
  }

  .download-text {
    font-size: 0.23rem;
    float: left;
    width: 36%;
    line-height: 0.46rem;
  }

  a {
    float: right;
    width: 42%;
    img {
      display: block;
      width: 100%;
    }
    // display: inline-block;
  }
}

.tf-nav-pop-wrapper {
  position: absolute;
  z-index: 99;
  right: 1%;
  top: 6%;
  width: 30%;
  background-color: #404042;
  border-radius: 10px;

  .dd {
    // font: 0/0 '宋体';
    border: 13px solid;
    border-color: transparent transparent #404042 transparent;
    float: left;
    background-color: transparent;
    position: absolute;
    top: -22px;
    left: 65%;
    display: block;
  }

  span {
    text-align: left;
    color: #fff;
    font-size: 0.22rem;
    line-height: 0.6rem;
  }
}
