header{
    background:#FFF url(//leyouimage.leyou.com.cn/mleyou/mall/images/logo.png) no-repeat 10px;
    background-size: 3rem auto;
    border-bottom: 1px solid #E9E9EA;
    position: relative;
    height: 0.68rem;
    padding: 0.1rem 0;

    .login{
        position: absolute;
        right: 0.2rem;
        width: 0.4rem;
        top: 50%;
        margin-top: -0.28rem;
    }
}